body {
    background-color: oldlace;
    position: relative;
    font-size: 20px;
    color: mediumseagreen;
}
.board {
    display: grid;
    width: min-content;
    margin: 100px auto 50px auto;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 10px;
    background-color: teal;
}
.square {
    background-color: oldlace;
    font-size: 50px;
    text-align: center;
}
.startContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    width: max-content;
}
.startButton {
    width: min-content;
    display: block;
    border: none;
    color: oldlace;
    background-color: teal;
    margin: auto;
}
.finish {
    width: max-content;
    display: block;
}
.hidden {
    display: none;
}
.startContainer, .finish {
    margin: 100px auto 200px auto;
}
input {
    background-color: transparent;
}
button, input, .ai {
    font-size: inherit;
    margin: 5px;
    padding: 5px;
}
.ai, input {
    border: solid;
    color: teal;
    width: 150px;
}
.choice:hover {
    background-color: red;
}
.chosen {
    background-color: red;
}